@model List<TaskListName>

<head>
    <link rel="stylesheet" href="~/css/TaskList.css" asp-append-version="true" />
</head>
<body>

    <div class="container mt-5">
        <h1 class="text-center mb-4">Task Lists</h1>
    </div>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <table class="table table-bordered table-hover">
                    <thead class="thead-light">
                        <tr>
                            <th>Task List Name</th>
                            <th>Completed Tasks</th>
                            <th>Yet to Complete</th>

                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null)
                        {
                            @foreach (var obj in Model)
                            {
                                <tr>
                                    <td><a style="text-decoration: none;" asp-controller="Task" asp-action="ShowTasks" asp-route-id="@obj.Id">@obj.Name</a></td>
                                    <td class="col-3">@obj.CompletedTasks</td>
                                    <td class="col-3">@obj.PendingTasks</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
                <div class="row justify-content-center">
                    <div class="col-md-8 text-center">
                        <a asp-controller="Task" asp-action="NewList" class="btn btn-success">New List</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
