body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.header {
    text-align: center;
    background-color: #3498db;
    color: white;
    padding: 20px 0;
}

.summary {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;
}

.balance, .income, .expense {
    text-align: center;
}

    .balance h3, .income h3, .expense h3 {
        margin: 0;
    }

.balance-amount, .income-amount, .expense-amount {
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

.history {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;
}

.transaction-list {
    list-style: none;
    padding: 0;
}

.transaction {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.transaction-name {
    flex-grow: 1;
    font-weight: bold;
    color: #333;
}

.transaction-amount {
    font-weight: bold;
    color: #e74c3c;
    margin-right: 10px;
}

.new-transaction-form {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;
}

.form-group {
    margin-bottom: 10px;
}

label {
    font-weight: bold;
}

.form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.btn-primary {
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

.negative-transaction {
    font-weight: bold;
    color: red; /* Red for negative transactions */
}

.positive-transaction {
    font-weight: bold;
    color: green; /* Green for positive transactions */
}
