/*body {
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;*/ /* Center the content vertically */
    /*margin: 0;
}

.container {
    text-align: center;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.task-lists {
    margin-top: 20px;
}

.task-list-name {
    font-size: 1.2rem;
    margin: 10px 0;
}*/
